
body{
  background color: blue;
  background size: cover;
  font-size: 25px;
  font-family: sree Krushnadevaraya;
}
h1{
    font-family: 'Sree Krushnadevaraya', serif;
  color: black;
  font-weight: bold;
  font-size: 50px;
}
h2 {
  font-family: sree Krushnadevaraya;
  color: black;
  font-weight: bold;
  font-size: 40px;
}
a {
  color: #ffa96b;
}
a:hover {
  text-decoration: none;
  color: purple;
}

p{
  background: white;
  color: black;
  padding: 10px;
}

.flex-container{
  width: 100px;
  border: 12px black;
  padding: 25px;
  margin: 25px;

}

.btn-blue {
  color: white;
  background-color: #6772e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn-blue:hover {
  background-color: #7795f8;
  color: white;
}
.container{
  display: flex;
  flex-direction: row;
}

.container-1 div{
  border: 10px;
  padding: 10px;
}

.box-1{
  text-align: center;
  border: 10px solid
  color: #555;
}

.container-2{
  display: flex;
  flex-direction:  row;
  align-content: center;
  justify-content: space-around;
}

.box{
  width: 100px;
  border: 15px;
  padding :15px;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

#banner{
  text-align: center;
  
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: green;
}
#banner h1 {
  font-size: 50px;
}
#banner p {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background-color: black;
  color: lightgrey;
}
.card-white {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
  justify-content: center;
  text-align: 
}
.card-white img {
  margin-bottom: 20px;
}

.btn-blue {
  color: white;
  background-color: #6772e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn-blue:hover {
  background-color: #7795f8;
  color: white;
}


#footer a {
  color: lightgrey;
  font-size: 32px;
}
#footer a:hover {
  color: white;
}

.profile{
  border-radius: 50%;
}

